/* Text and Color */

:root {
  --white: #f4f4f4;
  --black: #2c2c2c;
  --gray: #909090;
  --light-gray: #d2d2d2;
  --red: #ea373d;

  --font-sans: "Readex Pro", sans-serif;

  --background-color: var(--white);
  --foreground-color: var(--black);
  --primary-color: var(--red);

  --rhythm: 1.5rem;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(--background-color);
  color: var(--foreground-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.menu-item {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 5rem;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  color: var(--primary-color);
  text-transform: none;
  line-height: 5rem;
  margin: 0 0 1rem 0;
}

h1.hero-title {
  font-size: 8rem;
  line-height: 8rem;
  text-align: left;
  margin: 0;
}

@media (max-width: 600px) {
  h1.hero-title {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  h1.featured-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 2rem;
  margin: 0 0 1rem 0;
}

h3,
.menu-item {
  letter-spacing: 0.125rem;
  font-size: 0.75rem;
}

h4 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 200;
}

p {
  font-weight: 200;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-weight: 200;
}

ul {
  font-weight: 200;
}

.body-text {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 200;
  color: var(--foreground-color);
}
