@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Readex+Pro:wght@160..700&display=swap");

:root {
  --white: #f4f4f4;
  --black: #2c2c2c;
  --gray: #909090;
  --light-gray: #d2d2d2;
  --red: #ea373d;

  --font-sans: "Readex Pro", sans-serif;

  --background-color: var(--white);
  --foreground-color: var(--black);
  --primary-color: var(--red);

  --rhythm: 1.5rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background-color: var(--background-color);
  color: var(--foreground-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 5rem;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  color: var(--primary-color);
  text-transform: none;
  line-height: 5rem;
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 2rem;
  margin: 0 0 1rem 0;
}

h3 {
  letter-spacing: 0.125rem;
  font-size: 0.75rem;
}

h4 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 200;
}

p {
  font-weight: 200;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-weight: 200;
}

ul {
  font-weight: 200;
}

main {
  display: flex;
  flex-direction: row;
  margin: calc(var(--rhythm) * 3);
  gap: calc(var(--rhythm) * 3);
}

header {
  display: flex;
  justify-content: center;
  padding: calc(var(--rhythm) * 0.5);
}

.logo {
  width: 48px;
  transition: ease 0.15s;
}

.logo:hover {
  opacity: 0.5;
}

.hero {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-top: calc(var(--rhythm) * 7);
  margin: 0;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
}

.help-button {
  position: fixed;
  top: calc(var(--rhythm) * 0.5);
  right: calc(var(--rhythm) * 0.5);
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 900;
}

.help-button:hover .help-icon {
  transform: scale(1.1);
  transition: transform 0.2s;
}

/* Home Page Recipes Styles */

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-items: center;
}

.recipe-cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: calc(var(--rhythm) * 2);
  justify-items: left;
  width: 100%;
}

.recipe-card {
  all: unset;
  display: grid;
  grid-template-rows: auto 1fr;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  font-family: var(--font-sans);
  transition: transform 0.2s;
}

.recipe-card:hover {
  transform: scale(1.02);
}

.recipe-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  margin-bottom: 1rem;
}

.recipe-title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 1.25rem;
  line-height: 1.5625rem;
  margin: 0;
  width: 100%;
}

.recipe-subtitle {
  font-weight: 200;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.recipe-info > span {
  font-weight: 200;
  color: var(--gray);
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.recipe-info {
  display: flex;
  gap: calc(var(--rhythm) * 0.5);
  margin-top: var(--rhythm);
}

.divider {
  border-radius: 100%;
  width: 4px;
  height: 4px;
  background-color: var(--gray);
  margin: auto 0;
}

/* Search Bar Styles */

.search-bar {
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: calc(var(--rhythm) * 2);
}

.search-bar input[type="text"] {
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 200;
  padding: 1.5rem 0;
  outline: none;
  border: none;
  background: none;
  color: var(--foreground-color);
}

.search-bar button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Filter Styles */
.search-filter-container {
  position: sticky;
  top: 4rem;
  align-self: flex-start;
  z-index: 2;
  width: auto;
  height: fit-content;
}

.filter-form {
  background-image: url("../assets/filter-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: var(--rhythm);
  height: fit-content;
  padding: calc(var(--rhythm) * 2) var(--rhythm);
  position: relative;
}

.filter-bg-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.filter-form > *:not(.filter-bg-svg) {
  position: relative;
  z-index: 1;
}

.filter-bg-svg svg {
  width: 100%;
  height: 100%;
  display: block;
}

.filter-title {
  margin: 0;
}

.filter-options {
  display: flex;
  flex-direction: column;
  gap: var(--rhythm);
}

.filter-option {
  cursor: pointer;
  width: fit-content;
  font-family: var(--font-sans);
  font-weight: 200;
  transition: transform 0.12s ease;
}

.filter-option input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.filter-option .checkmark {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--background-color);
  border-radius: 100%;
  background: transparent;
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
}

.filter-option input[type="checkbox"]:checked ~ .checkmark {
  background: var(--background-color);
  border-color: var(--primary-color);
}

.filter-option:hover {
  transform: scale(1.1);
}

.clear-filters-btn {
  all: unset;
  cursor: pointer;
  font-family: var(--font-sans);
  font-weight: 200;
  width: fit-content;
  border-bottom: 1px var(--primary-color) dashed;
}

.clear-filters-btn:hover {
  border-bottom: 1px var(--background-color) dashed;
}

.mobile-filter-btn,
.close-filters-btn {
  display: none;
}

.no-results-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: calc(var(--rhythm) * 5) 0;
  grid-column: 1 / -1;
  max-width: 600px;
}

footer {
  margin-top: calc(var(--rhythm) * 5);
  text-align: center;
}

/* Recipe Page Styles */

.recipe-page-main {
  display: grid;
  grid-template-columns: 1fr 240px;
  gap: 0;
  align-items: end;
  margin: 0 0 calc(var(--rhythm) * 5) calc(var(--rhythm) * 10);
  align-items: start;
}

.page-header,
.recipe-container {
  width: 100%;
  grid-column: 1;
}

.table-of-contents-container {
  grid-column: 2;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  border-bottom: 1px solid var(--light-gray);
  padding: calc(var(--rhythm) * 2) 0;
  margin-top: calc(var(--rhythm) * 2);
}

.page-heading,
.page-subtitle,
.recipe-info {
  text-align: center;
}

.text-image-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: calc(var(--rhythm) * 3);
  border-bottom: 1px solid var(--light-gray);
  padding: calc(var(--rhythm) * 5) 0;
}

.text-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: calc(var(--rhythm) * 2);
}

.text-column .title {
  text-wrap: wrap;
}

.image-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.image-column > img {
  width: 100%;
  height: auto;
}

.table-of-contents-container {
  align-self: flex-start;
  margin-left: auto;
  position: sticky;
  top: calc(var(--rhythm) * 5);
  z-index: 10;
  width: 200px;
  height: fit-content;
  padding-left: calc(var(--rhythm) * 2);
}

.table-of-contents-card {
  color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  gap: var(--rhythm);
}

.content-btn {
  all: unset;
  cursor: pointer;
  font-family: var(--font-sans);
  font-weight: 200;
  color: var(--gray);
  font-size: 0.875rem;
}

.content-btn:hover {
  color: var(--primary-color);
}

.table-of-contents-card h3 {
  color: var(--primary-color);
}

.recipe-details {
  display: flex;
  flex-direction: row;
  gap: calc(var(--rhythm) * 2);
  color: var(--gray);
}

/* Help Page Styles */

.help-page-main {
  display: flex;
  flex-direction: column;
  margin: 0 calc(var(--rhythm) * 10);
  align-items: center;
  gap: calc(var(--rhythm) * 5);
}

.text-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0 calc(var(--rhythm) * 10);
  margin-bottom: calc(var(--rhythm) * 2);
}

.text-section h2 {
  margin-bottom: 0;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .recipe-page-main {
    margin: 0 0 0 calc(var(--rhythm) * 3);
  }

  .help-page-main {
    margin: 0 calc(var(--rhythm) * 3);
    gap: calc(var(--rhythm) * 3);
  }

  .text-section {
    padding: calc(var(--rhythm) * 2) calc(var(--rhythm) * 3);
  }
}

@media (max-width: 900px) {
  body.filter-form-open::before {
    content: "";
    position: fixed;
    inset: 0;
    background: #0000002a;
    z-index: 900;
    pointer-events: auto;
    transition: background 0.3s;
  }

  main {
    flex-direction: column;
    margin: var(--rhythm);
    gap: calc(var(--rhythm) * 2);
  }

  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .recipe-page-main {
    display: flex;
    flex-direction: column;
    margin: var(--rhythm);
    align-items: center;
    gap: 0;
  }

  .page-header {
    margin-top: 0;
  }

  .search-filter-container {
    width: 100%;
    z-index: auto;
    position: static;
    margin-bottom: 0;
    background-color: var(--background-color);
  }

  .mobile-filter-btn {
    all: unset;
    cursor: pointer;
    font-family: var(--font-sans);
    font-weight: 700;
    letter-spacing: 0.125rem;
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-color);
  }

  .close-filters-btn {
    display: flex;
    width: auto;
    justify-content: right;
    color: var(--primary-color);
    cursor: pointer;
  }

  .filter-form {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: var(--background-color);
    color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    transform: translateY(100%);
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    max-height: 60vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .filter-form.active {
    transform: translateY(0);
    z-index: 1000;
  }

  .filter-options {
    align-items: start;
  }

  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .filter-title {
    width: auto;
    text-align: left;
    color: var(--primary-color);
  }

  .clear-filters-btn {
    align-self: center;
  }

  .filter-option .checkmark {
    border-color: var(--foreground-color);
  }

  .filter-option input[type="checkbox"]:checked ~ .checkmark {
    background: var(--foreground-color);
    border-color: var(--foreground-color);
  }

  .table-of-contents-card {
    display: none;
  }

  .text-image-container {
    flex-direction: column;
    padding: calc(var(--rhythm) * 3) 0;
  }

  .text-column {
    width: 100%;
    padding: 0;
  }

  .image-column {
    width: 100%;
    padding: 0;
  }

  .help-page-main {
    margin: 0 var(--rhythm);
  }

  .text-section {
    padding: var(--rhythm);
  }

  .recipe-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: left;
  }
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
    margin: var(--rhythm);
  }

  .recipe-card {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid var(--light-gray);
    padding: var(--rhythm) 0;
    gap: var(--rhythm);
    align-items: start;
  }

  .recipe-image {
    margin-bottom: 0;
    display: block;
    align-self: start;
    object-fit: cover;
  }
  .recipe-cards-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 400px) {
  .recipe-title,
  .recipe-subtitle,
  .recipe-time,
  .recipe-calories .recipe-servings {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
  .time-icon {
    width: 16px;
    height: 16px;
  }

  .recipe-card {
    gap: calc(var(--rhythm) * 0.5);
  }

  .recipe-info {
    flex-wrap: wrap;
    gap: calc(var(--rhythm) * 0.1) calc(var(--rhythm) * 0.5);
  }

  .recipe-time,
  .recipe-calories,
  .recipe-servings {
    text-wrap: nowrap;
  }

  .close-filters-btn {
    top: calc(var(--rhythm) * 1.5);
    right: calc(var(--rhythm) * 1);
  }

  .filter-title {
    text-align: left;
  }
}
