/* Modular CSS import */
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Readex+Pro:wght@160..700&display=swap");

@import url("base.css");
@import url("layout.css");
@import url("components.css");
@import url("pages.css");
@import url("responsive.css");

